In [13]:
import yfinance as yf

In [14]:
ticker = "BBDC4"
period = "5d"
ticker_obj = yf.Ticker(f"{ticker}.SA")

In [15]:
ticker_obj

yfinance.Ticker object <BBDC4.SA>

In [5]:
ticker_obj.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-03-31 00:00:00-03:00,28.500000,28.510000,27.950001,28.190001,17667600,0.0,0.0
2025-04-01 00:00:00-03:00,28.170000,28.580000,28.010000,28.330000,14219000,0.0,0.0
2025-04-02 00:00:00-03:00,28.400000,28.549999,28.120001,28.350000,9089100,0.0,0.0
2025-04-03 00:00:00-03:00,28.260000,28.690001,28.219999,28.510000,14824700,0.0,0.0
2025-04-04 00:00:00-03:00,28.200001,28.330000,27.780001,27.980000,15612700,0.0,0.0
2025-04-07 00:00:00-03:00,27.879999,28.270000,27.360001,27.680000,22342100,0.0,0.0
2025-04-08 00:00:00-03:00,28.030001,28.209999,27.400000,27.629999,21884600,0.0,0.0
2025-04-09 00:00:00-03:00,27.500000,28.100000,27.090000,27.750000,28796100,0.0,0.0
2025-04-10 00:00:00-03:00,27.709999,27.719999,27.139999,27.559999,18618400,0.0,0.0
2025-04-11 00:00:00-03:00,27.730000,27.900000,27.420000,27.799999,14793700,0.0,0.0
2025-04-14 00:00:00-03:00,27.969999,28.209999,27.870001,28.070000,13391400,0.0,0.0
2025-04-15 00:00:00-03:00,28.030001,28.120001,27.700001,27.770000,25468600,0.0,0.0
2025-04-16 00:00:00-03:00,27.780001,27.889999,27.379999,27.650000,21762700,0.0,0.0
2025-04-17 00:00:00-03:00,27.680000,27.780001,27.299999,27.430000,17336900,0.0,0.0
2025-04-22 00:00:00-03:00,27.400000,27.920000,27.350000,27.780001,14220700,0.0,0.0
2025-04-23 00:00:00-03:00,27.990000,28.219999,27.860001,28.040001,13812200,0.0,0.0
2025-04-24 00:00:00-03:00,28.040001,28.059999,27.040001,27.700001,37053800,0.0,0.0
2025-04-25 00:00:00-03:00,27.700001,28.120001,27.520000,28.010000,17884400,0.0,0.0
2025-04-28 00:00:00-03:00,28.010000,28.410000,27.850000,28.350000,14161300,0.0,0.0
2025-04-29 00:00:00-03:00,28.370001,28.719999,28.230000,28.500000,15861200,0.0,0.0
2025-04-30 00:00:00-03:00,28.410000,28.760000,28.360001,28.719999,5106800,0.0,0.0

In [9]:
ticker_obj.history(period=period)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-04-24 00:00:00-03:00,13.19,13.45,13.16,13.36,28878200,0.0,0.0
2025-04-25 00:00:00-03:00,13.35,13.51,13.29,13.38,26229400,0.0,0.0
2025-04-28 00:00:00-03:00,13.39,13.57,13.32,13.35,19185700,0.0,0.0
2025-04-29 00:00:00-03:00,13.34,13.64,13.33,13.50,29771000,0.0,0.0
2025-04-30 00:00:00-03:00,13.40,13.56,13.33,13.51,25337500,0.0,0.0

In [22]:
def retorna_cotacao(ticker, periodo="1mo"):
    ticker_obj = yf.Ticker(f"{ticker}.SA")
    hist = ticker_obj.history(period=periodo)["Close"]
    hist.index = hist.index.strftime("%Y-%m-%d")
    hist = round(hist, 2)
    # limitar em 30 resultados
    if len(hist) > 30:
        slice_size = int(len(hist) / 30) 
        hist = hist.iloc[::-slice_size][::-1]

    return hist.to_json()

In [24]:
hist = retorna_cotacao("BBAS3", "1y")
hist

'{"2024-05-02":25.75,"2024-05-14":26.03,"2024-05-24":25.17,"2024-06-06":25.69,"2024-06-18":24.84,"2024-06-28":25.44,"2024-07-10":25.34,"2024-07-22":25.85,"2024-08-01":25.11,"2024-08-13":26.16,"2024-08-23":27.32,"2024-09-04":28.06,"2024-09-16":27.84,"2024-09-26":26.78,"2024-10-08":26.29,"2024-10-18":26.01,"2024-10-30":25.69,"2024-11-11":25.34,"2024-11-25":25.09,"2024-12-05":25.3,"2024-12-17":24.42,"2025-01-02":23.92,"2025-01-14":24.65,"2025-01-24":26.62,"2025-02-05":27.83,"2025-02-17":29.16,"2025-02-27":27.96,"2025-03-13":27.49,"2025-03-25":28.47,"2025-04-04":27.98,"2025-04-16":27.65,"2025-04-30":28.89}'